.woocommerce-cart .main-content .woocommerce table.shop_table tbody tr td.actions > .button {
	background: #be0b06 !important;
	border: 2px solid;
	border-color: #be0b06 !important;
}
.woocommerce-cart .main-content .woocommerce table.shop_table tbody tr td.actions > .button:hover {
	background: #fff !important;
	color: #be0b06 !important;
}
.woocommerce-cart .main-content .woocommerce .cart-collaterals .cart_totals .shipping-wrap .woocommerce-shipping-calculator > p button {
    font-size: 13px !important;
    font-weight: 400 !important;
	font-family: "ApexNew Bold", Arial, sans-serif !important;
	letter-spacing: 0.16px !important;
    text-transform: uppercase !important;
	background: #be0b06 !important;
	border: 2px solid;
	border-color: #be0b06 !important;
}
.woocommerce-cart .main-content .woocommerce .cart-collaterals .cart_totals .shipping-wrap .woocommerce-shipping-calculator > p button:hover {
	background: #fff !important;
	color: #be0b06 !important;
}
.woocommerce-cart .main-content .woocommerce .wc-proceed-to-checkout .checkout-button {
    font-size: 13px !important;
    font-weight: 400 !important;
	font-family: "ApexNew Bold", Arial, sans-serif !important;
	letter-spacing: 0.16px !important;
    text-transform: uppercase !important;
	background: #be0b06 !important;
	border: 2px solid;
	border-color: #be0b06 !important;
}
.woocommerce-cart .main-content .woocommerce .wc-proceed-to-checkout .checkout-button:hover {
	background: #fff !important;
	color: #be0b06 !important;
}
.woocommerce-checkout .woocommerce .woocommerce-checkout-payment .place-order .button {
    font-size: 13px !important;
    font-weight: 400 !important;
	font-family: "ApexNew Bold", Arial, sans-serif !important;
	letter-spacing: 0.16px !important;
    text-transform: uppercase !important;
	background: #be0b06 !important;
	border: 2px solid;
	border-color: #be0b06 !important;
}
.woocommerce-checkout .woocommerce .woocommerce-checkout-payment .place-order .button:hover {
	background: #fff !important;
	color: #be0b06 !important;
}
.coupon input.button {
	margin-top: 6px !important;
	background: #1c1c1c !important;
	border: 2px solid !important;
	border-color: #1c1c1c !important;
}
.coupon input.button:hover {
	color: #1c1c1c !important;
	background: #fff !important;
}