.woocommerce-MyAccount-navigation {
    margin-bottom: 25px;
}
div.bt-title-bar-wrap.woo {
    background: #fff !important;
    text-align: left;
    padding-left: 20px;
    margin-top: -40px;
}
.woocommerce-info {
	border-top-color: #be0b06;

	&:before {
		color: #be0b06;
	}
}